body {
  font-family: "PT Serif",Georgia,Times,"Times New Roman",serif;
  background: url(wood.jpg);
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6, header a {
  font-family: "PT Sans","Helvetica Neue",Arial,sans-serif;
}

header {
  background: black;
  padding: 20px;
}
header #site-title {
  width: 800px;
  margin: auto;
  position: relative;
}
header h1  {
  color: white;
  display: inline;
}
header h1 a {
  color: white;
  text-decoration: none;
}
header nav {
  position: absolute;
  right: 0px;
  top: 10px;
}
header nav a:link, header nav a:visited {
  color: #d3d7cf;
  text-decoration: none;
  padding-left: 6px;
}
header nav a:hover {
  color: white;
}

#main {
  background: white;
  padding: 20px;
  width: 800px;
  margin: auto;
}
#main > h1 { margin-top: 0px; }

pre {
  background: #f5f2f0;
  padding: 2px;
  border: 1px solid #d3d7cf;
  border-radius: 3px;
  padding: 10px;
  margin-top: 2em; margin-bottom: 2em;
}

p code {
  background: #f5f2f0;
  padding: 2px;
  border: 1px solid #d3d7cf;
  border-radius: 3px;
}

blockquote {
  font-style: italic;
  border-left: 5px solid #d3d7cf;
  padding: 0px 10px;
  background: #f9f7f5;
}

.figure { text-align: center; }
.figure img { border: 1px solid #d3d7cf; }
.figure p { margin-top: 2px; font-style: italic; font-size: smaller;  }
